In [16]:
num=10

def GlobalLocal():
    global num 
    num=20
    print("Hello Messi boss",num)
    
GlobalLocal()

num

Hello Messi boss 20

20

In [23]:
1==2<3

False

In [27]:
import math 

math.floor(3.1)
math.ceil(4.1)

5

In [92]:
import random
random.random() 
l1=['lemon','orange','ginger','greenTea']
random.choice(l1) # greenTea and changes always
random.shuffle(l1) #['orange', 'greenTea', 'ginger', 'lemon'] and changes always
l1

['lemon', 'greenTea', 'orange', 'ginger']

In [95]:
from fractions import Fraction
myFrac=Fraction(2,7)
myFrac

Fraction(2, 7)

<!-- Decimal Data -->

In [98]:
from decimal import Decimal
Decimal('0.1') + Decimal('0.1') + Decimal('0.1')+ Decimal('0.1')
Decimal('0.1') + Decimal('0.1') + Decimal('0.1') - Decimal('0.1')

Decimal('0.2')

In [105]:
setOne={1,2,3,4,5}
setOne | {1,3} #union {1, 2, 3, 4, 5}
setOne & {1,3} #intersection  {1,3}
True+4 # 5

5

In [1]:
tea="Masala ,Tea"

numList=[0,1,2,3,4,5,6,7,8,9]
slice_tea=numList[0:8] #Slicing
print(slice_tea)

print(tea.replace("Masala","Lemon")) 

print(tea.split(","))

[0, 1, 2, 3, 4, 5, 6, 7]
Lemon ,Tea
['Masala ', 'Tea']

In [2]:
company="""A aavash
daaaaaaaaaaaaaankjandja
aksbhjabjkabf
afkanfkjhajkf

pka"""
company

'A aavash\ndaaaaaaaaaaaaaankjandja\naksbhjabjkabf\nafkanfkjhajkf\n\npka'

In [4]:
i=0
for shimant in "hello":
    print(i)
    print(shimant)
    i+=1

0
h
1
e
2
l
3
l
4
o

In [19]:
if 2>3:
    print("True")
else:
    print("false")
    
    
name=[1,2,4,6,7,96,4,32,6,8,95]
# print(len(name))

i=1
for char in name:
    print(i,"  : ",char)
    i+=1

false
1   :  1
2   :  2
3   :  4
4   :  6
5   :  7
6   :  96
7   :  4
8   :  32
9   :  6
10   :  8
11   :  95