In [ ]:
import numpy  as np
import pandas as pd 
data=pd.read_csv('./Data/1.csv')
data

In [2]:
data.head()

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
0,1,05-02-2010,1643690.90,0,42.31,2.572,211.096358,8.106
1,1,12-02-2010,1641957.44,1,38.51,2.548,211.242170,8.106
2,1,19-02-2010,1611968.17,0,39.93,2.514,211.289143,8.106
3,1,26-02-2010,1409727.59,0,46.63,2.561,211.319643,8.106
4,1,05-03-2010,1554806.68,0,46.50,2.625,211.350143,8.106

In [ ]:
data.tail(10)

In [ ]:
data.info() #shape of object type

In [ ]:
data.describe() #describe() method gives us summary statistics for numerical columns in our DataFrame.

In [ ]:
data.head()
data.drop(['CPI'],axis=1).head() #Column deletion

In [ ]:
data.isnull().head()

In [ ]:
data.head(1)

## <span style='color:orange;'> Row Deletion </span>

In [ ]:
data.drop([1],axis=0).head()

In [ ]:
data.groupby(['Weekly_Sales']).mean(5).head()

In [ ]:
data.groupby(['Weekly_Sales','Fuel_Price']).mean().head()

In [ ]:
data.groupby(['Weekly_Sales']).mean('Weekly_Sales').head()

In [ ]:
data.shape

In [ ]:
data(["Store"],axis=1).mean()

##In SQL, the GROUP BY statement groups rows with the same values into summary rows. It's one of the most commonly used clauses in SQL. 
The GROUP BY statement is often used with aggregate functions, such as: COUNT(), MAX(), MIN(), SUM(), AVG(). 
The GROUP BY statement partitions result rows into groups based on their values in one or more columns. The result of a query using a GROUP BY statement contains one row for each group.

In [ ]:
data["Temperature"].mean()

In [ ]:
data["Store"].sum()

In [ ]:
data["Weekly_Sales"].max()

In [ ]:
data.groupby(['Weekly_Sales']).mean('Weekly_Sales')

In [ ]:
from matplotlib import pyplot as plt


plt.xlabel('Store')
plt.ylabel("Temperature")